
<title>Pizza</title>


<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <i class='fas fa-user-alt' style='font-size:35px;color:rgb(51, 49, 102)'></i>
    <a class="navbar-brand">Bienvenido Administrador!!!</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Menu de navegacion">
        <span class="navbar-toggler-icon"></span>
    </button>
   

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/pizza" class="nav-link">PIZZA</a>
            </li>
            <i class='fas fa-pizza-slice' style='font-size:35px;color:rgb(51, 49, 102)'></i>
            <li class="nav-item">
                <a href="/ingredientes" class="nav-link">INGREDIENTES</a>
            </li>
            <i class='fas fa-file-alt' style='font-size:35px;color:rgb(51, 49, 102)'></i>
            <li class="nav-item">
                <a href="/pizza-ingredientes" class="nav-link">PIZZA INGREDIENTES</a>
            </li>
            <i class='fas fa-pizza-slice' style='font-size:35px;color:rgb(51, 49, 102)'></i>

            <i class='fas fa-file-alt' style='font-size:35px;color:rgb(51, 49, 102)'></i>
            
        </ul>
        <form action="" class="form-inline my-2 my-lg-0">
            <h3></h3>
        </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
